/*Reset*/

* {
    margin: 0;
    padding: 0;
}

/*Estilos generales*/

body {
    background-color: rgb(241, 240, 225);
    font-family: "Noto Sans";
}

header {
    height: auto;
}

.header-div {
    font-size: 4vw;
    background-color: rgb(199, 169, 63);
    color: rgb(241, 240, 225);
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-nav {
    align-content: flex-start;
}

.header-nav a {
    color: rgb(199, 169, 63);
    font-weight: bold;
    font-size: 2.8vh;
    transition: all 1s;
}

a:hover {
    color: rgb(0, 0, 0);
    font-size: 3.1vh;
    font-weight: bolder;
}
 
button {
    color: rgb(199, 169, 63)
}

.Carrito {
    width: 1.7em;
    position: relative;
    bottom: 0.3em;
 }

.logo {
    border-radius: 50%;
    width: 65%;
    padding: 0.1em;
    max-width: 160px;
    position: relative;
    bottom: 2em;
}

.div-logo {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: rgb(199, 169, 63);
    color: rgb(241, 240, 225);
    font-size: 5vh;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: titulo;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
}

@keyframes titulo {
    0% {
        background-color: rgb(199, 169, 63);
    }
    50% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(199, 169, 63);
    }
}

h2 {
    color: rgb(199, 169, 63);
    padding: 0.1em;
    margin-left: 0.4em;
    font-size: 3vh;
    top: 0.5em;
    border-bottom: 0.05em solid rgb(199, 169, 63);
}

footer nav {
    background-color: rgb(199, 169, 63);
    font-size: 2.6vh;
    font-weight: bold;
}

footer ul {
    display: flex;
    margin-bottom: 0;
 }

footer li {
    list-style: none;
    padding: 1vh;
 }

footer a {
    text-decoration: none;
    color: rgb(241, 240, 225);
    transition: all 1s;
 }

footer img {
    width: 1.5em;
}

/*Inicio*/

.mainIndex {
    background-image: url("/media/female-friends-out-shopping-together.jpg");
    background-size: cover;
    background-position: 25% 30%;
    background-repeat: no-repeat;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    height: 75vh;
}

.mainIndex img {
    border-radius: 100%;
    height: 20em;
    opacity: 1;
    position: relative;
    top: 15%;
    animation-name: index;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;  
}

@keyframes index {
    0% {
        height: 20em;
        position: relative;
        top: 15%;   
        }
    50% {
        height: 22em;
        position: relative;
        top: 13%;
    }
    100% {
        height: 20em;
        position: relative;
        top: 15%;
    }
}

/*Mujer-Hombre-Accesorios-Sale*/

aside {
    background-color: rgb(0, 0, 0);
    color: rgb(241, 240, 225); 
    padding: 0 5px;
}

aside .ulPrincipal {
    padding-left: 0.2em;
}

aside .ulPrincipal li {
    list-style: none;
    padding-top: 0.3em;
    font-size: 1em;
    padding-left: 0em;
}

aside .ulSecundaria {
    padding-left: 0.6em;
}

aside .ulSecundaria li {
    list-style: none;
    padding: 0.2em;
    font-size: 1em;
}

.div-select {
    display: flex;
}

.btn-primary{
    background-color: rgb(199, 169, 63);
    border:rgb(199, 169, 63)
}

/*Contacto*/

.mainContacto p {
    font-size: 2.8vh;
    font-weight: 600;
    padding: 1.7vh;
    text-justify: distribute-all-lines;
}

.mainContacto form {
    font-weight: 500;
}

.mainContacto form label {
    font-size: 2.7vh;
}

.mainContacto form input{
    font-size: 2.6vh;
}

.mainContacto form textarea {
    font-size: 2.6vh;
}

/*Sobre nosotros*/

.mainSobre div {
    display: flex;
    justify-content: center;
}

.mainSobre img {
    border-radius: 100%;
    width: 20em;
    padding: 1em;
}

.mainSobre p {
    padding: 1em;
    text-justify: distribute-all-lines;
}

/*Diseño breakpoint lg*/

@media screen and (min-width: 992px) {
    .header-div {
        font-size: 2.8vh;
        background-color: rgb(199, 169, 63);
        color: rgb(241, 240, 225);
        padding: 0.8vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 

    .logo {
        position: inherit;
        width: 50%;
        padding: 0.2em;
    }

    .div-logo {
        justify-content: flex-start;
        padding: 0em;
    }

    .header-nav a {
        font-size: 3.8vh;
    }

    a:hover {
        color: rgb(0, 0, 0);
        font-size: 4.1vh;
        font-weight: bolder;
    }

    h2 {
        font-size: 4vh;
    } 

    footer nav {
        font-size: 3.8vh;
    }

    footer li {
        padding: 0 2em;
    }

    .mainSobre div {
        display: flex;
        justify-content: space-evenly;
    }

    .mainSobre img {
        width: auto;
        height: 70vh;
        display: flex;
        align-self: center;
    }
}
