%title {
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: titulo;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
}