footer {
    nav {
        background-color: map-get($colors , dorado);
        ul {
            display: flex;
            margin-bottom: 0;
            li {
                list-style: none;
                padding: 1vh;
                a {
                    color: map-get($colors, crema);
                    font-size: 2.6vh;
                    font-weight: bold;
                }
            }
        }
    }
}

footer {
    img {
        width: 1.5em;
    }
}

/*Diseño breakpoint lg*/

@media screen and (min-width: 992px) {

    footer {
        nav {
            ul {
                li {
                    padding: 0 3vh;
                    a {
                        font-size: 3.8vh;
                    }
                }
            }
        } 
    }
}
