header {
    height: auto;
}

.header-div {
    @include headerDiv (4vw, 1vw, map-get($colors, negro), map-get($colors, crema))
}

.header-nav {
    a {
        color: map-get($colors, dorado);
        padding: 0.8vh;
    }
    .Carrito {
        width: 1.7em;
        position: relative;
        bottom: 0.3em;
    }
    button {
        color: map-get($colors, dorado);
    }    
}
 
.header-logo {
    a {
        width: 100%;
        display: flex;
        justify-content: center;
        .logo {
            border-radius: 50%;
            width: 65%;
            padding: 0.1em;
            max-width: 160px;
            position: relative;
            bottom: 2em;
        }  
    }
}

h1 {
    @extend %title;
    background-color: map-get($colors, dorado);
    color: map-get($colors, crema);
    margin-bottom: 0;
}

@keyframes titulo {
    0% {
        background-color: map-get($colors, dorado);
    }
    50% {
        background-color: map-get($colors, negro);
    }
    100% {
        background-color: map-get($colors, dorado);
    }
}

/*Diseño breakpoint lg*/

@media screen and (min-width: 992px) {
    .header-div {
        font-size: 2.8vh;
        padding: 0.8vh;
    } 

    .header-nav {
        a {
            padding: 2vh;
        }
    }    

    .header-logo { 
        padding: 0em;
        a {
            justify-content: flex-start;
            .logo {
                position: inherit;
                width: 55%;
                padding: 0.2em;
            }
        }
    }
}
