.mainSobre {
    div {
        display: flex;
        justify-content: center;
    }
    img {
        border-radius: 100%;
        width: 20em;
        padding: 1em;
    }
    p {
        padding: 1em;
        text-justify: distribute-all-lines;
    }
}

/*Diseño breakpoint lg*/

@media screen and (min-width: 992px) {

    .mainSobre {
        div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        img {
            width: auto;
            height: 70vh;
            display: flex;
            align-self: center;
        }
    }
}
