h2 {
    color: map-get($colors, dorado);
    padding: 0.2em 0 0.2em 0.4em;
    font-size: 3vh;
    border-bottom: 0.05em solid map-get($colors, dorado);
}

.filtros {
    background-color: map-get($colors, negro);
    color: map-get($colors, crema); 
    padding-right: 0;
    padding-left: 0;
}

.ulPrincipal {
    padding-left: 0.3em;
    li {
        list-style: none;
        padding-top: 0.3em;
        font-size: 1em;
        padding-left: 0em;
    }
}

.ulSecundaria {
    padding-left: 0.6em;
    li {
        list-style: none;
        padding: 0.2em;
        font-size: 1em;
    }
}

.btn-primary{
    background-color: $dorado;
    border: $dorado;
    &:hover {
        background-color: $negro;
    }     
    &:focus {
        background-color: $dorado; 
        box-shadow: none;
    } 
    &:active {
        background-color: $negro;
        box-shadow: none;
    }     
}

/*Diseño breakpoint md*/

@media screen and (min-width: 768px) {

    .div-select {
        display: flex;
    }
}
    
/*Diseño breakpoint lg*/

@media screen and (min-width: 992px) {

    h2 {
        font-size: 4vh;
    } 

}

   