@charset "UTF-8";
h1 {
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation-name: titulo;
          animation-name: titulo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

header {
  height: auto;
}

.header-div {
  font-size: 4vw;
  padding: 1vw;
  background-color: rgb(199, 169, 63);
  color: rgb(241, 240, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-nav a {
  color: rgb(199, 169, 63);
  padding: 0.8vh;
}
.header-nav .Carrito {
  width: 1.7em;
  position: relative;
  bottom: 0.3em;
}
.header-nav button {
  color: rgb(199, 169, 63);
}

.header-logo a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-logo a .logo {
  border-radius: 50%;
  width: 65%;
  padding: 0.1em;
  max-width: 160px;
  position: relative;
  bottom: 2em;
}

h1 {
  background-color: rgb(199, 169, 63);
  color: rgb(241, 240, 225);
  margin-bottom: 0;
}

@-webkit-keyframes titulo {
  0% {
    background-color: rgb(199, 169, 63);
  }
  50% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(199, 169, 63);
  }
}

@keyframes titulo {
  0% {
    background-color: rgb(199, 169, 63);
  }
  50% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgb(199, 169, 63);
  }
}
/*Diseño breakpoint lg*/
@media screen and (min-width: 992px) {
  .header-div {
    font-size: 2.8vh;
    padding: 0.8vh;
  }
  .header-nav a {
    padding: 2vh;
  }
  .header-logo {
    padding: 0em;
  }
  .header-logo a {
    justify-content: flex-start;
  }
  .header-logo a .logo {
    position: inherit;
    width: 55%;
    padding: 0.2em;
  }
}
.mainIndex {
  background-image: url("/media/female-friends-out-shopping-together.jpg");
  background-size: cover;
  background-position: 25% 30%;
  background-repeat: no-repeat;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  height: 75vh;
}
.mainIndex img {
  border-radius: 100%;
  height: 17em;
  opacity: 1;
  -webkit-animation-name: index;
          animation-name: index;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes index {
  0% {
    height: 17em;
  }
  50% {
    height: 18.7em;
  }
  100% {
    height: 17em;
  }
}

@keyframes index {
  0% {
    height: 17em;
  }
  50% {
    height: 18.7em;
  }
  100% {
    height: 17em;
  }
}
/*Diseño breakpoint md*/
@media screen and (min-width: 768px) {
  .mainIndex img {
    height: 27em;
  }
  @-webkit-keyframes index {
    0% {
      height: 27em;
    }
    50% {
      height: 30em;
    }
    100% {
      height: 27em;
    }
  }
  @keyframes index {
    0% {
      height: 27em;
    }
    50% {
      height: 30em;
    }
    100% {
      height: 27em;
    }
  }
}
/*Diseño breakpoint lg*/
@media screen and (min-width: 992px) {
  .mainIndex img {
    height: 23em;
  }
  @-webkit-keyframes index {
    0% {
      height: 23em;
    }
    50% {
      height: 25em;
    }
    100% {
      height: 23em;
    }
  }
  @keyframes index {
    0% {
      height: 23em;
    }
    50% {
      height: 25em;
    }
    100% {
      height: 23em;
    }
  }
}
h2 {
  color: rgb(199, 169, 63);
  padding: 0.2em 0 0.2em 0.4em;
  font-size: 3vh;
  border-bottom: 0.05em solid rgb(199, 169, 63);
}

.filtros {
  background-color: rgb(0, 0, 0);
  color: rgb(241, 240, 225);
  padding-right: 0;
  padding-left: 0;
}

.ulPrincipal {
  padding-left: 0.3em;
}

.ulPrincipal li {
  list-style: none;
  padding-top: 0.3em;
  font-size: 1em;
  padding-left: 0em;
}

.ulSecundaria {
  padding-left: 0.6em;
}

.ulSecundaria li {
  list-style: none;
  padding: 0.2em;
  font-size: 1em;
}

.btn-primary {
  background-color: rgb(199, 169, 63);
  border: rgb(199, 169, 63);
}

/*Diseño breakpoint md*/
@media screen and (min-width: 768px) {
  .div-select {
    display: flex;
  }
}
/*Diseño breakpoint lg*/
@media screen and (min-width: 992px) {
  h2 {
    font-size: 4vh;
  }
}
.mainSobre div {
  display: flex;
  justify-content: center;
}

.mainSobre img {
  border-radius: 100%;
  width: 20em;
  padding: 1em;
}

.mainSobre p {
  padding: 1em;
  text-justify: distribute-all-lines;
}

/*Diseño breakpoint lg*/
@media screen and (min-width: 992px) {
  .mainSobre div {
    display: flex;
    justify-content: space-evenly;
  }
  .mainSobre img {
    width: auto;
    height: 70vh;
    display: flex;
    align-self: center;
  }
}
.mainContacto p {
  font-size: 2.8vh;
  font-weight: 600;
  padding: 1.7vh;
  text-justify: distribute-all-lines;
}

.mainContacto form {
  font-weight: 500;
}

.mainContacto form label {
  font-size: 2.7vh;
}

.mainContacto form input {
  font-size: 2.6vh;
}

.mainContacto form textarea {
  font-size: 2.6vh;
}

footer nav {
  background-color: rgb(199, 169, 63);
}
footer nav ul {
  display: flex;
  margin-bottom: 0;
}
footer nav ul li {
  list-style: none;
  padding: 1vh;
}
footer nav ul li a {
  color: rgb(241, 240, 225);
  font-size: 2.6vh;
  font-weight: bold;
}

footer img {
  width: 1.5em;
}

/*Diseño breakpoint lg*/
@media screen and (min-width: 992px) {
  footer nav ul li {
    padding: 0 3vh;
  }
  footer nav ul li a {
    font-size: 3.8vh;
  }
}
/*Reset*/
* {
  margin: 0;
  padding: 0;
}

/*Estilos generales*/
body {
  background-color: rgb(241, 240, 225);
  font-family: "Noto Sans";
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 2.8vh;
  transition: all 1s;
}
a:hover {
  color: rgb(0, 0, 0);
  font-size: 3.1vh;
  font-weight: bolder;
}

/*Diseño breakpoint lg*/
@media screen and (min-width: 992px) {
  a {
    font-size: 3.8vh;
  }
  a:hover {
    font-size: 4.1vh;
  }
}/*# sourceMappingURL=style.css.map */