@import "./partials/maps", "./partials/extends", "./partials/mixins", "./partials/header", "./partials/mainInicio", "./partials/mainProductos", "./partials/mainSobre", "./partials/mainContacto", "./partials/footer";

/*Reset*/

* {
    margin: 0;
    padding: 0;
}

/*Estilos generales*/

body {
    background-color: map-get($colors, crema);
    font-family: map-get($fonts , primaryFont);
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 2.8vh;
    transition: all 1s;
        &:hover {
            color: map-get($colors, negro);
            font-size: 3.1vh;
            font-weight: bolder;
        }
}

/*Diseño breakpoint lg*/

@media screen and (min-width: 992px) {
  
    a {
        font-size: 3.8vh;
            &:hover {
                font-size: 4.1vh;
            }
    }    
    
  
}


